.App {
  text-align: center;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.odd-col {
  border-left: 1px solid #ccc;
}

.odd-col.active {
  background: rgb(111, 255, 176);
  color: #37003C;
}


.navbar {
  background-color: #37003C!important;
  color: rgb(248, 248, 248);
  font-size: 20px;
}

.nav-link {
  color: rgb(248, 248, 248)!important;
}

.nav-link:hover {
  color: #37003C!important;
  background-color: rgb(111, 255, 176);
}

.navbar-brand {
  color: rgb(248, 248, 248)!important;
}

.nav-drop {
  background-color: #ff2882;
}

.navdrop-item {
  color:rgb(248, 248, 248)!important;
}

.navdrop-item:hover {
  color:rgb(111, 255, 176)!important;
  background-color:#37003C;
}

.button-color {
  background-color: #37003C!important;
  border-color: #37003C!important;
}


.button-color:hover {
  background-color: #37003C!important;
  border-color: #37003C!important;
}




@media only screen and (max-width: 425px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .OddPanel {
    padding-right: 15px;
    padding-left: 15px;
  }
  .user-row{
    margin-top: 20px;
  }
}

@media only screen and (max-width: 320px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .OddPanel {
    padding-right: 15px;
    padding-left: 15px;
  }
  .bottom-nav-action{
    margin: -10px!important;
  }
 
}

@media only screen and (min-width: 1024px) {
  
}

.MuiTabs-flexContainer{
  justify-content: center;
}

