body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 2px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (max-width: 320px) {
  .main {
    margin-bottom: 100px;
    margin-top: 80px;

  }
  .modal-dialog {
    top: 100px;
  }
}

@media only screen and (max-width: 375px) {
  .main {
    margin-bottom: 100px;
    padding-bottom: 80px;

  }
  .modal-dialog {
    top: 100px;
  }
}

.main {
  margin-bottom: 20px;
  margin-top: 20px;
  
}

@media only screen and (max-width: 425px) {
  .main {
    padding-bottom: 80px;
    
  }
  .modal-dialog {
    top: 100px;
  }
  
}



.card-edit {
  margin: 5px;
  transition: box-shadow .3s;
}
.card-edit:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
/* @media only screen and (max-width: 768px) {
  .match-details {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
  }
} */



 .odd-type {
  background-color: #37003C;
  color: #fff;
  font-size: 16px;
  padding: 8px;
  text-align: left;
  cursor: pointer;
  padding-left: 3%;
 }

 .odd-detail {
   display:flex;
 }

 .odd-bet-title {
   display: block;
 }

 .odd {
  border-left: 0px solid #ccc;
 }

 .scores{
  border-left: 0px solid #ccc;
  border-bottom: 1px solid #ccc;

 }
 .scores-right {
  border-right: 1px solid #ccc;
 }
 .hil-odds-l {
   padding-left: 0;
   padding-right: 0;
 }
 .odd-col-4{
  padding-right: 0;
  padding-left: 0;
 }

 .bottom-nav {
   display: none;
 }

 @media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .bottom-nav {
    display: block;
  }
}

.bet-badge {
  vertical-align: baseline !important;
}


.OddPanel {
  margin-top: 10px;
}


.MuiTab-textColorPrimary.Mui-selected {
  color: #37003C!important;
}

.PrivateTabIndicator-colorPrimary-9  {
  background-color: #37003C!important;
}