.TopBar{
    background-color:#37003C;
}

.App-TopBar {
    display: block;
}





  @media only screen and (min-width: 1024px) {
    .App-TopBar {
        display: none;
    }
  }

  @media only screen and (min-width: 1440px) {
    .App-TopBar {
        display: none;
    }
  }

  @media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    .nav-bar {
        display: none;
    }
  }

  .coins-img{

      width: 40px;
  }

  /* @media only screen and (max-width: 320px) {
    .nav-bar {
        display: none;
    }
  }

  @media only screen and (max-width: 375px) {
    .nav-bar {
        display: none;
    }
  }

  @media only screen and (max-width: 425px) {
    .nav-bar {
        display: none;
    }
    
  } */


  .app-bar-button {
      padding: 0;
  }