.message-card {
    max-width: none;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left!important;
}


.text {
    width: -webkit-fill-available;
}

.text-button {
    width: -webkit-fill-available;
    margin-top: 10px;
}

.button {
    justify-content: center;
    margin-top: 20px;
}

#outlined-required {
    height: 200px;
    width: 900px;
    overflow: hidden!important; 
}

#root > div > div.container > div > div > div > div > div.match-row > div > div > div.match-content > div:nth-child(2) > div > div > div > div:nth-child(28) > form > div > div > div {
    height: 200px;
    width: 585%;
    overflow: hidden!important; 
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    #outlined-required {
        width: 300px;
        height: 100px ;
        overflow: hidden!important; 
    }
  }

  @media only screen and (max-width: 1024px) {
    #outlined-required {
        width: 740px;
        height: 200px ;
        overflow: hidden!important; 
    }
  }

  @media only screen and (max-width: 768px) {
    #outlined-required {
        width: 480px;
        height: 200px ;
        overflow: hidden!important; 
    }
  }

  @media only screen and (max-width: 375px) {
    #outlined-required {
        width: 200px;
        height: 100px ;
        overflow: hidden!important; 
    }
  }

  @media only screen and (max-width: 425px) {
    #outlined-required {
        width: 200px;
        height: 100px ;
        overflow: hidden!important; 
    }
  }
  @media only screen and (max-width: 320px) {
    #outlined-required {
        width: 140px;
        height: 80px ;
        overflow: hidden!important; 
    }
  }


  .text {
      margin-bottom: 10px;
  }