.result-row {
    display: flex;
    justify-content: space-between;
}

.match-vs {
    background-color: #333;
      color: #fff;
      font-size: 20px;
      margin: 0;
      padding: 0;
      line-height: 1.2em;
      align-self: center;
  }
  .match-league{
    color: #0099CC;
  }
  .match-option {
    justify-content: space-between;
  }
  
  .home  {
    display: flex;
    align-items: center;
    /* margin-right: 10px; */
  }
  
  .away  {
    display: flex;
    align-items: center;
    /* margin-left: 10px; */
  }
  .HomeLogo {
    width: 70%;
    margin-top: 0px;
  }
  
  .home-team {
   /* margin-left:10px */
   text-align: right !important;
   padding-left: 0 !important;
   padding-right: 0 !important;
   align-self: center !important;
  }
  
  .away-team{
    padding-left: 0 !important;
    padding-right: 0 !important;
    align-self: center !important;
    text-align: left !important;
}
@media only screen and (min-width: 1440px) {

    .odd-panel{
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media only screen and (max-width: 1440px) {
    .result-col {
        padding-left: 155px;
        padding-right: 155px;
    }

}
@media only screen and (max-width: 1024px) {
    .result-col {
        padding-left: 37px;
        padding-right: 37px;
    }
}
   @media only screen and (min-width: 768px) {
    .mt-md-2, .my-md-2{
        margin-top: 0.5rem !important;
    }
    .text-md-left{
        text-align: left !important;
    }
    
    

    
    
}
@media only screen and (max-width: 768px) {
    .home-team{
        text-align: center!important;
    }
    .arrow {
        display: none;
        align-self: center;
    }
    .result-col {
        padding-left: 29px;
        padding-right: 29px;
    }
    
}
@media only screen and (max-width: 425px) {
    .result-col {
        padding-left: 15px;
        padding-right: 15px;
    }
    .ft-right {
        float: none!important ;
    }
    .ft-left {
        float: none!important ;
    }
    
}
@media only screen and (max-width: 375px) {
    .result-col {
        padding-left: 15px;
        padding-right: 15px;
    }
    
}
@media only screen and (max-width: 320px) {
    .result-col {
        padding-left: 15px;
        padding-right: 15px;
    }
    
}


.team-row {
    justify-content: center;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .home-team{
        text-align: center!important;
    }
    .HomeLogo{
        width: 85%;
    margin-top: 0px;
    }
    .away-team{
        text-align: center!important;
    }
    .arrow {
        display: none;
        align-self: center;
    }
    
    .arrow  > i{
        display: none;
        font-size: 30px;
        align-self: center;
    }
    .arrow
    .ft-right {
        float: none !important;
    }
    .ft-left {
        float: none !important;
    }
}

.arrow {
    align-self: center;
}

.arrow  > i{
    font-size: 24px;
    align-self: center;
}

.mb-2, .my-2 {
    margin-bottom: 0.5rem !important;
}

.home-name {
    color: #000;
    font-size: 14px;
    margin-bottom: 0 !important;
}


.match-vs-col {
    align-self: center !important;

    justify-content: center;
}

/* .team-vs-row {
    flex-wrap: nowrap;
}



.home-col{
    display: contents;
}

.away-col {
    display: contents;
} */


.mt-2, .my-2 {
    margin-top: 0.5rem !important;
}

.mb-1, .my-1 {
    margin-bottom: 0.25rem !important;
}

.fs16 {
    font-size: 16px;
}
.fs14 {
    font-size: 18px;
}


.ft-right {
    float: right ;
}

.ft-left {
    float: left ;
}
.match_row img {
    width: 70%;
    margin-top: 0px;
}

.w105 {
    max-width: 105px;
    max-height: 105px;
    min-width: 100%;
}

img, figure {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}