.user-intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap
}

/*.user-detail {
    border: 1px solid black;
    border-radius: 10px;
    height: 400px;
    width: 600px;
    margin: 20px 0 20px 30px;
}*/

/*.recharts-default-legend {
    text-align: left !important;
}*/

.user-detail {
    border: 1px solid black
}

.user-detail-title {
    border-bottom: 1px solid black;
    padding: 8px
}

table {
    margin: 50px 0
    
}

td {
    width: 150px
}

.user-panel{
    display: flex;
    align-items: center;
}

.following {
    display: block;
}

.user-row {
    justify-content: center;
}

.full-container{
    padding-right: 0;
    padding-left: 0;
}

.ProfileTab{
    background-color: #37003C!important;
}

.PrivateTabIndicator-colorSecondary-14 {
    background-color: rgb(111, 255, 176)!important;
}

.PrivateTabIndicator-colorSecondary-12 {
    background-color: rgb(111, 255, 176)!important;
}

.media-body {
    text-align: left;
}

@media only screen and (max-width: 425px) {
    .media-body {
        text-align: center;
    }
    .profileChart {
      
    }
  }
  @media only screen and (max-width: 320px) {
    .media-body {
        text-align: center;
    }
  }

  .profile-card {
    justify-content: center;
  }

 

  .w105-2 {
    max-width: 105px;
    max-height: 105px;
  }