*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Saira Semi Condensed', sans-serif;
    font-weight: 400;
   
  &:after{
    font-size:1rem;
    color:#aaa;
    position:fixed;
    bottom:20px;
    right:20px;
    z-index:2;
  }
}

// Wrapper | For this page - !!ignore
// for centered element
.wrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100vh;
    min-height: 500px;
}

/*
  *** fut-player-card styles ***
*/

// Variables
$gold:#e9cc74;
$black-gradient-to-bottom: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.90) 90%);
$black-gradient-to-top: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.90) 90%);

// fut-player-card
.fut-player-card{
    position: sticky;

    width: 240px;
    height: 340px;
    background-image: url(./svg.png);
    background-position: center center;
    background-size:100% 100%;
    background-repeat: no-repeat;
    padding-top: 2.5rem;
    transition: 200ms ease-in;
    .player-card-top{
        position: relative;
        display: flex;
        color:$gold;
        padding: 0 0.5rem;
        margin-top: 20px;
        margin-left: 20px;
        .player-master-info{
            position: absolute;
            line-height: 2.2rem;
            font-weight: 300;
            padding-top: 0.5rem;
            padding-left: 0.5rem ;
            text-transform: uppercase;
            left: 20px;
            top: 20px;
            .player-rating{
                font-size: 20px;
            }
            .player-position{
                font-size: 16px;
                text-align: left;
            }
            .player-nation{
                display: block;
                width:2rem;
                height:25px;
                margin: 0.3rem 0;
                img{
                    width:100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .player-club{
                display: block;
                width:2.1rem;
                height:40px;
                img{
                    width:100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
        .player-picture{
            width:200px;
            height:80px;
            margin: 0 auto;
            overflow: hidden;
            img{
                width:100%;
                height:100%;
                object-fit: contain;
                position: relative;
                right: -1.5rem;
                bottom: 0;
            }
            .player-extra{
                position: absolute;
                right:0;
                bottom: -0.5rem;
                overflow: hidden;
                font-size:1rem;
                font-weight: 700;
                text-transform: uppercase;
                width:100%;
                height:2rem;
                padding:0 1.5rem;
                text-align: right;
                background:none;
                span{
                  margin-left: 0.6rem;
                  text-shadow:2px 2px #333;
                }
            }
        }
    }
    .player-card-bottom{
        position: relative;
        margin-top: 25px;
        .player-info{
            display: block;
            padding:0.3rem 0;
            color:$gold;
            width:90%;
            margin:0 auto;
            height: auto;
            position: relative;
            z-index: 2;
            .player-name{
                width:100%;
                display: block;
                text-align: center;
                font-size:1.6rem;
                text-transform: uppercase;
                // border-bottom: 2px solid rgba($gold, 0.1);
                padding-bottom: 0.3rem;
                overflow: hidden;
                span{
                    display: block;
                    text-shadow:2px 2px #111;
                }
            }
            .player-features{
                margin-top: 1.1rem;
                margin-left: 1.2rem;
                display: flex;
                justify-content: center;
                .player-features-col{
                    // border-right: 2px solid rgba($gold, 0.1);
                    // padding-left: px;
                    padding-top: 5px;
                    margin: 0 5px;
                    span{
                        display: flex;
                        justify-content: space-between;
                        font-size: 0.8rem;
                        text-transform: uppercase;
                        margin-bottom: 10px;
                        .player-feature-value{
                            margin: 0 0.3rem;
                            font-weight: 700;
                        }
                        .player-feature-title{
                            font-weight: 300;
                        }
                    }
                }
                .player-features-col:last-child{
                    border:0;
                }
            }
        }
    }
}