.text {
    text-align: left;
}

.tip-provider, .tip-bet-detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tip-provider-info, .tip-provider-bet {
    display: flex ;
}

.tip-provider-name, .tip-provider-bet-number {
    margin-right: 20px;
}

.tips {
    display: flex;
    justify-content: center;
}

.tip-content {
    padding: 20px;
    margin: 20px;
    align-items: center;
}


@media only screen and (max-width: 425px) {
    .tip-provider{
        display: block;

    }
    .tip-button {
        width: 100px;
    }
    .tip-provider-info, .tip-provider-bet {
        display: block ;
    }
    .tip-bet-detail{
        display: block;
        text-align: center;
    }
    .tip-provider-bet-number{
        width: 110px;
    }
    .text {
        text-align: center;
    }
    .tips-detail{
        display: none;
    }
    .tip-provider-bet-number{
        display: none;
    }
  }

  @media only screen and (max-width: 320px) {
    .tip-provider{
        display: block;

    }
    .tip-provider-info, .tip-provider-bet {
        display: block ;
    }
    .tip-button {
        width: 100px;
    }
    .tip-bet-detail{
        display: block;
        text-align: center;
    }
    .tip-provider-bet-number{
        width: 110px;
    }
    .text {
        text-align: center;
    }
    .tips-detail{
        display: none;
    }
    .tip-provider-bet-number{
        display: none;
    }
    .tip-provider, .tip-bet-detail {
        display: block;
        justify-content: space-between;
        align-items: center;
    }

  }

  @media only screen and (min-width: 1024px) {
    .mobile-tips{
        display: none;
    }
    .mobile-buytips {
        display: none;
    }
  }

  @media only screen and (max-width: 768px) {
    .tips-detail{
        display: none;
    }
    .tip-provider-bet-number{
        display: none;
    }
    .tip-provider, .tip-bet-detail {
        display: block;
        justify-content: space-between;
        align-items: center;
    }
    .tips-button {
        display: none;
    }
  }

  @media only screen and (min-width: 1440px) {
    .mobile-tips{
        display: none;
    }
  }


  .badge-color-win > span {
      background-color: #19BC9B!important;
  }

  .badge-color-draw > span {
    background-color: rgb(89, 98, 103)!important;
}




/* .tip-mobile-content {
    display:flex;
    justify-content: space-between;
    padding-top: 20px;
} */

.item {
    display: flex !important;
}