.dateFailed {
    color: red;
    font-weight: bold;
    font-size: 16px;
}

.oddsFailed {
    color: teal;
    font-weight: bold;
    font-size: 16px;
}

.betTypeContentFailed {
    color: #37003C;
    font-weight: bold;
    font-size: 16px
}

.margin-draft-bet {
    margin: 5px 0;
    padding: 5px 
}


.bet-gain {
    color: teal;
}

.remove-button {
    font-size: 40px;
}

.betArea-con{
    padding-top: 25px;
    padding-bottom: 20px;
}